table, th, td {
	position: relative;
    border-collapse: collapse;
}
table{
		position: absolute;
}
th, td{
	border-style: solid;
}
#pulsanti{
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
}
#modB{
	position:absolute;
	right: 10px;
}
#nome{
	position: absolute;
	left: 48%;
}